python-dotenv
structlog

langchain
langchain-community
langchain-core

langchain-groq
langchain-google-genai

docx2txt
ipykernel
python-multipart
faiss-cpu

fastapi
uvicorn
Jinja2

langsmith
groq
pandas