python-dotenv
structlog

langchain
langchain-community
langchain-core

langchain-groq
langchain-google-genai

pypdf
docx2txt
ipykernel
python-multipart
faiss-cpu

fastapi
uvicorn
Jinja2
pytest

langsmith
groq
pandas